<!doctype html>
<html lang="en">
  <head>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

    
  <body>
      <<img src="{{ url_for('static', filename='logo_spyra.png') }}" width=15% height=15% align="center" class="image_fraude">
      <h2>Unsupervised learning<br> Choice of the type of reduction dimension</h2>

      <form action = "http://localhost:5000/Page6" method = "POST" 
          enctype = "multipart/form-data">
          <div class="form_bottom">
            <label>
              <select name="type_of_dimension_reduction" class="simple_select">

                {% for reduc in reduc_name %}
                <option value="{{ reduc }}">{{ reduc }}</option>
                {% endfor %}  
              
              </select>
            </label>
            <input type = "submit" name="tabs" value="Submit" class="button_submit"/>
          </div>

          <div class="title_vertical_menu">
              <p>Tabs</p>
          </div>
          <div class="vertical_menu">
            <input type="submit" name="tabs" value="Dataset">
            <input type="submit" name="tabs" value="Type of dataset">
            <input type="submit" name="tabs" value="Feature to predict">
            <input type="submit" name="tabs" value="Data prep">
            <input type="submit" name="tabs" value="PCA">
            <input class="active" type="submit" name="tabs" value="Other reduction">
          </div>

        </form>



        <a href="{{ url_for('home') }}"> <button class="home"><i class="fa fa-home"></i> Home</button></a>


  </body>
</html>