<!doctype html>
<html lang="en">
  <head>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <img src="{{ url_for('static', filename='logo_spyra.png') }}" width=15% height=15% align="center" class="image_fraude">
    <h2 class="decalage">To launch the data preparation, click on automatic. <br>To see the changes made on the dataset, click on diagnostic.</h2>

    
    <form action = "http://localhost:5000/Page4" method = "POST" 
          enctype = "multipart/form-data">
      <div class="form_bottom">
        <input  type="submit" name="Processing" value="automatic"  class="button_submit">
        <input  type="submit" name="Processing" value="diagnostic"  class="button_submit">
    
      </div>

      <div class="title_vertical_menu">
        <p>Tabs</p>
      </div>
      <div class="vertical_menu">
        <input type="submit" name="Processing" value="Dataset">
        <input type="submit" name="Processing" value="Type of dataset">
        <input type="submit" name="Processing" value="Feature to predict">
        <input class="active" type="submit" name="Processing" value="Data prep">
      </div>
  </form>

  <a href="{{ url_for('home') }}"> <button class="home"><i class="fa fa-home"></i> Home</button></a>
  </body>


</html>