<!doctype html>
<html lang="en">
<head>
  <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type ="text/javascript" src="{{url_for('static', filename='js_test.js')}}"></script>

</head>
<body>
    <img src="{{ url_for('static', filename='logo_spyra.png') }}" width=15% height=15% align="center" class="image_fraude">
    <h2>Number of dimensions to keep after the PCA :</h2>
    <img src="/plot.png" alt="my plot" class="plot_pca">

    <form  action = "http://localhost:5000/Page5" method = "POST" 
        enctype = "multipart/form-data">
        <div class="form_bottom">
          <label>
            <select name="nb_pca" class="simple_select">

              {% for column in column_number %}
              <option value="{{ column }}">{{ column }}</option>
              {% endfor %}  
            
            </select>
          </label>
          <input type = "submit" name="tabs" value="Submit" class="button_submit"/>
        </div>

        <div class="title_vertical_menu">
            <p>Tabs</p>
        </div>
        <div class="vertical_menu">
          <input type="submit" name="tabs" value="Dataset">
          <input type="submit" name="tabs" value="Type of dataset">
          <input type="submit" name="tabs" value="Feature to predict">
          <input type="submit" name="tabs" value="Data prep">
          <input class="active" type="submit" name="tabs" value="PCA">
        </div>

    </form>

      <a href="{{ url_for('home') }}"> <button class="home"><i class="fa fa-home"></i> Home</button></a>
      

</body>
</html>
